*{
    margin: 0px;
    font-family: centrury gothic, sans-serif;
}

.top-nav{
    background-color: rgb(157, 47, 104);
    color: white;
    text-align: center;
    height: 3.5rem;
}

#top-nav-text{
    font-size: 18px;
    font-weight: 800;
    display: inline-block;
    padding-top: 0.9rem;
}

#top-nav-button{
    margin-left: 1%;   
    color: white;
    font-weight: bold;
    background-color: rgb(157, 47, 104);
    border-color: white;
    border: 1px solid white;
    height: 2.6rem;
    width: 7rem;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

#top-nav-button:hover{
    background-color: white;
    color: rgb(157, 47, 104);
    transition: 0.2s ease-in-out;
}

.bottom-nav{
    height: 3.3rem;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.093);}

#bottom-nav-text{
    font-size: 20px;
    margin-left: 2%;
    margin-top: 0.2%;
    display: inline-block;
    padding-top: 0.6rem;
}

#btm-login{
    margin-left: 72%;   
    color: rgb(157, 47, 104);
    font-weight: bold;
    border: 1px solid rgb(157, 47, 104);
    transition: 0.1s ease-in-out;
}

#btm-sign-up{
    background-color: rgb(157, 47, 104);
    color: white;
    font-weight: bold;
    border: 1px solid rgb(157, 47, 104);
    transition: 0.1s ease-in-out;
}

#btm-login:hover{
    transform:scale(1.04);
    font-weight: bold;
    transition: 0.1s ease-in-out;
}

#btm-sign-up:hover{
    transform:scale(1.04);
    font-weight: bold;
    transition: 0.1s ease-in-out;
}

#btm-login, #btm-sign-up{
    border-radius: 10px;
    height: 2rem;
    width: 5rem;
}



